<div th:fragment="content" class="view-tasks">

    <div class="row justify-content-center align-items-center p-5 p-md-5">
        <div class="col-12 col-lg-9 col-xl-7">
            <form th:action="@{/add-task}" th:object="${task}" method="post">
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb-3 pt-3">
                            <input class="form-control mt-2 pt-3" type="text" id="taskName" th:field="*{taskName}">
                            <label class="ms-2 position-absolute" for="taskName">
                                <span class="small bg-white px-1 rounded">Nazwa zadania</span>
                            </label>
                        </div>

                        <div class="mb-3 pt-3">
                            <input class="form-control mt-2 pt-3" type="date" id="taskStart" th:field="*{taskStart}">
                            <label class="ms-2 position-absolute" for="taskStart">
                                <span class="small bg-white px-1 rounded">Data rozpoczęcia zadania</span>
                            </label>
                        </div>

                        <div class="mb-3 pt-3">
                            <input class="form-control mt-2 pt-3" type="date" id="taskEnd" th:field="*{taskEnd}">
                            <label class="ms-2 position-absolute" for="taskEnd">
                                <span class="small bg-white px-1 rounded">Data zakończenia zadania</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="mb-3 pt-3">
                            <div style="position:relative">
                            <textarea class="form-control mt-2 pt-3" id="taskDescription" th:field="*{taskDescription}" cols="40"></textarea>
                            <label class="ms-2 position-absolute" for="taskDescription">
                                <span class="small bg-white px-1 rounded">Opis</span>
                            </label>
                            </div>
                        </div>
                    </div>
                </div>


                <button class="btn btn-primary" type="submit">Prześlij</button>


            </form>
        </div>
    </div>
</div>