<div class="reg-log pt-3" th:fragment="content">
    <div class="row justify-content-center align-items-center p-5 p-md-5">
        <div class="col-12 col-lg-9 col-xl-7">
            <form th:action="@{/registerUser}" th:object="${user}" method="post">

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-floating mb-4">
                            <input type="text" id="firstName" class="form-control" name="firstName" placeholder="Imię" th:field="*{firstName}">
                            <label class="rounded" for="firstName">Imię</label>
                            <small class="text-danger position-absolute" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="form-floating mb-4">
                            <input type="text" id="lastName" class="form-control" placeholder="Nazwisko" th:field="*{lastName}">
                            <label class="rounded" for="lastName">Nazwisko</label>
                            <small class="text-danger position-absolute" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-floating mb-4">
                            <input type="text" id="login" class="form-control" placeholder="Login" th:field="*{login}">
                            <label class="rounded" for="login">Login</label>
                            <small class="text-danger position-absolute">
                                <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
                                <span th:if="${loginExists}">Podany login już istnieje.</span>
                            </small>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="form-floating mb-4">
                            <input type="email" id="email" class="form-control" placeholder="example@email.com" th:field="*{email}">
                            <label class="rounded" for="email">Email</label>
                            <small class="text-danger position-absolute">
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                <span th:if="${emailExists}">Podany email jest już w użyciu.</span>
                            </small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-floating mb-4">
                            <input type="password" id="password" class="form-control" placeholder="Hasło" th:field="*{password}">
                            <label class="rounded" for="password">Hasło</label>
                            <small class="text-muted position-absolute" th:if="${not #fields.hasErrors('password')}">
                                Min. 8 znaków, 1 mała i 1 wielka litera, 1 znak specjalny.
                            </small>
                            <small class="text-danger position-absolute" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4">
                        <div class="form-floating mb-4">
                            <input type="password" id="repeatPassword" class="form-control" placeholder="Powtórz hasło" name="repeatPassword">
                            <label class="rounded" for="repeatPassword">Powtórz hasło</label>
                            <small class="text-danger position-absolute" th:if="${passwordsDontMatch}">Hasła muszą być takie same.</small>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-primary btn-lg">Zarejestruj się</button>
                </div>

            </form>
        </div>
    </div>
</div>