<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Task List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/taskList.css}">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Lista zadań</h1>
    <form action="/taskList" class="mb-4" method="get">
        <div class="form-row">
            <div class="col-md-3">
                <label for="sortBy">Sortuj:</label>
                <select class="form-control" id="sortBy" name="sortBy">
                    <option></option>
                    <option value="oldestByStartDate">Rosnąco po dacie rozpoczęcia</option>
                    <option value="newestByStartDate">Malejąco po dacie rozpoczęcia</option>
                    <option value="newestByEndDate">Malejąco po dacie zakończenia</option>
                    <option value="oldestByEndDate">Rosnąco po dacie zakończenia</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="searchTaskName">Szukaj po nazwie:</label>
                <input class="form-control" id="searchTaskName" name="searchTaskName" type="text">
            </div>
            <div class="col-md-3">
                <label for="filterActive">Filtruj aktywne:</label>
                <select class="form-control" id="filterActive" name="filterActive">
                    <option></option>
                    <option value="true">Aktywne</option>
                    <option value="false">Nieaktywne</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" type="submit">Potwierdź</button>
            </div>
        </div>

    </form>
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
        <tr>
            <th>Nazwa</th>
            <th>Data rozpoczęcia</th>
            <th>Data zakończenia</th>
            <th>Opis</th>
            <th>Użytkownik</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${taskList}">
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.taskStart}"></td>
            <td th:text="${task.taskEnd}"></td>
            <td th:text="${task.taskDescription}"></td>
            <td th:text="${task.user.login}"></td>
            <td th:text="${task.active ? 'aktywne' : 'nieaktywne'}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>