@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

.nav-item .fi-positioning {
    float: left;
    margin: 0.2rem 0.5rem 0 0
}

.main-img {
    max-width: 300px;
    height: auto;
    margin: 3rem;
}

.view-tasks button {
    margin-top: 0.75rem;
}

.view-tasks .form-control:focus,
.view-tasks select:focus {
    border-color: royalblue;
    box-shadow: none;
    transition: 0.35s ease-in-out;
}

.view-tasks input[type=text]:focus:not([readonly]) + label,
.view-tasks select:focus + label {
    color: royalblue;
}

.view-tasks label {
    margin-top: -3.75rem;
    color: rgba(33, 37, 41, 0.75);
    transition: 0.35s ease-in-out;
}

.login {
    max-width: 50rem;
}

.user-alert {
    max-width: 50rem;
}