@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

.nav-item .fi-positioning {
    float: left;
    margin: 0.2rem 0.5rem 0 0
}

.main-img {
    max-width: 300px;
    height: auto;
    margin: 3rem;
}

.tasks button {
    margin-top: 0.75rem;
}

.tasks .form-control:focus,
.tasks select:focus,
.tasks textarea:focus,
.tasks input:focus {
    border-color: royalblue;
    box-shadow: none;
    transition: 0.35s ease-in-out;
}

.tasks select:focus ~ label,
.tasks textarea:focus ~ label,
.tasks input:focus ~ label {
    color: royalblue;
}

.tasks input[type=text]:focus:not([readonly]) + label,
.tasks input[type=data]:focus:not([readonly]) + label,
.tasks select:focus + label,
.tasks textarea:focus + label {
    color: royalblue;
}

.tasks label {
    margin-top: -3.75rem;
    color: rgba(33, 37, 41, 0.75);
    transition: 0.35s ease-in-out;
}

.tasks textarea + label {
    position: absolute;
    top: 0;
    margin-top: 0.75rem;
}

textarea {
    height: 15rem;
}

input[type=date]:invalid {
    color: rgba(33, 37, 41, 0.75);
}


.login {
    max-width: 50rem;
}

.reg-log .form-control:focus {
    border-color: royalblue;
    box-shadow: none;
}

.reg-log input[type=text]:focus:not([readonly]) + label,
.reg-log input[type=email]:focus:not([readonly]) + label,
.reg-log input[type=password]:focus:not([readonly]) + label,
.reg-log .form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: royalblue;
    background-color: white;
    line-height: 1.5em;
    margin: -0.25rem 0 0 0.2rem;
    height: 1.5em;
    padding: 0 0.3rem
}

.reg-log .form-floating > .form-control ~ label {
    color: rgba(33, 37, 41, 0.75);
    padding: 0.7rem 0.75rem;
}

.reg-log .form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: rgba(33, 37, 41, 0.75);
}

.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
    height: inherit;
    min-height: inherit;
    line-height: inherit;
}